@import "@fontsource/montserrat/900.css";
@import "@fontsource/montserrat/900-italic.css";
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-text-outline {
    font-family: 'Montserrat', sans-serif;
    font-size: 300px;
    position: absolute;
    bottom: -50px;
    font-weight: 900;
}

.hero-text-outline h1 {
    text-shadow: -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
    opacity: 15%;
    color: #75ACD8;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.hero-thrive-text {
    font-weight: 900;
    font-style: italic;
    text-shadow: -2px -2px 0 #EBBE63,
    2px -2px 0 #EBBE63,
    -2px 2px 0 #EBBE63,
    2px 2px 0 #EBBE63;
    color: #75ACD8;
}

.hero-text h1 {
    font-family: 'Montserrat', sans-serif;
}

.hero-text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.social-media-floating {
    width: 70px;
    height: 70px;
}

.whatsapp {
    background-color: #25d366; /* WhatsApp color */
}

.instagram {
    background-color: #bc2a8d; /* Instagram color */
}

.facebook {
    background-color: #1877f2; /* Facebook color */
}

.linkedin {
    background-color: #0e76a8; /* LinkedIn color */
}

.whatsapp:hover {
    color: white;
}

.instagram:hover {
    color: white;
}

.facebook:hover {
    color: white;
}

.linkedin:hover {
    color: white;
}

/*Siteplan*/
.siteplan {
    background-image: linear-gradient(to bottom, #75ACD8, white);
    position: relative;
    padding: 20px;
}

.siteplan-title {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 0;
    font-size: 150px;
    text-shadow: -2px -2px 0 #EBBE63,
    2px -2px 0 #EBBE63,
    -2px 2px 0 #EBBE63,
    2px 2px 0 #EBBE63;
    opacity: 30%;
    color: white;
    right: 100px;
    font-weight: 700;
}

.about-container {
    position: relative;
}

.about {
    height: 949px;
    position: absolute;
    width: 100vw;
}

.about::before {
    content: "";
    background-image: url("../../public/about-background.jpg");
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.about-title h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 50px;
}

.about-title p {
    font-family: "Montserrat", sans-serif;
}

.about-big {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    text-align: center;
    bottom: 0;
    font-size: 300px;
    text-shadow: -3px -3px 0 #73B153,
    3px -3px 0 #73B153,
    -3px 3px 0 #73B153,
    3px 3px 0 #73B153;
    opacity: 20%;
    color: white;
    font-weight: 700;
}

/*Fscilties*/

.facilities-container {
    position: relative;
}

.facilities {
    margin-top: 949px;
    height: 100vh;
    position: absolute;
    width: 100vw;
    color: white;
}

.facilities-title h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 30px;
}

.facilities-title span {
    text-shadow: -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    font-style: italic;
    color: #75ACD8;
}

.facilities-desc {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.facilities-big {
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    font-size: 300px;
    position: absolute;
    bottom: 45%;
    text-shadow: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    opacity: .1;
    color: #75ACD8;
}

/*Card Slider*/
.image-carousel {
    border-radius: 50px
}

/*Video Player*/
.video-player {
    margin-top: calc(949px + 100vh);
    position: relative;
}

/*Units*/
.unit-container {
    position: relative;
    height: 80vh;
}

.units {
    position: absolute;
    width: 100vw;
    color: white;;
}

.unit-big-1 {
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    font-size: 300px;
    position: absolute;
    bottom: -100px;
    left: 20px;
    text-shadow: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    opacity: .1;
    color: #75ACD8;
}

.unit-big-2 {
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    font-size: 300px;
    position: absolute;
    top: 0;
    right: 20px;
    text-shadow: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    opacity: .1;
    color: #75ACD8;
}

/*Testimonial*/
.testimonial-container {
    position: relative;
    height: 80vh;
}

.testimonial-big {
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    font-size: 300px;
    position: absolute;
    bottom: 10%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    opacity: .2;
    color: #EBBE63;
    line-height: 180px;
}

/*News*/
.news-container {
    position: relative;
    height: 70vh;
}

.news h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: white;
}

.news span {
    font-style: italic;
    text-shadow: -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    color: #75ACD8;
    text-align: left;
}


/*Contact Us*/
.contact-us-container {
    position: relative;
    height: 40vh;
}

/*Footer*/
.footer-container {
    position: relative;
    height: 50vh;
}

.footer {
    padding: 50px;
}

.footer h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.footer p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.footer-menu {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}